# Byte-compiled / cache files
__pycache__/
*.py[cod]

# OS files
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment files
.env
.venv/
*.env

# Logs and temp
*.log
*.tmp

# Tree output
tree.md
tree.txt

# IDE configs
.vscode/
.idea/
