numpy
pandas
matplotlib
seaborn
plotly
dash
optuna
tqdm
albumentations
Pillow
torch
torchvision
transformers
huggingface-hub
python-dotenv
scipy
altair
networkx
scikit-learn
nbformat
ipykernel
albucore
jupyterlab-widgets
tensorboard
nodejs
